*.avi
*.pkl
*.mp4
*.hdf5
.idea
**/*.pyc
temp
visualizations
statistics
gurobi.log
.DS_Store
wandb
*.pth
*.pt
*/history.txt
vision_utils/trained_models
**/temp_vis/*
docs/_build
docs/build
history.txt
pkl_logs
*.png
*.ply
*.pcd
*.txt
*.dot
hdf5_out
*.mp4
*.avi
*.zip
ref_doc/*
.specstory/*
.claude/*
.codex
.superpowers/*
.omx/
*.pdf
.vscode/
*.log
*.tsv