<launch>

  <arg name="use_rviz"                          default="true"/>
  <arg name="load_gazebo_configs"               default="false"/>
  <arg name="use_joint_pub"                     default="false"/>
  <arg name="use_joint_pub_gui"                 default="false"/>
  <arg name="rate"                              default="10"/>
  <arg name="source_list"                       default="[]"/>
  <arg name="rvizconfig"                        default="$(find interbotix_xsarm_descriptions)/rviz/xsarm_description.rviz" />
  <arg name="model"                             default="$(find pddlstream_aloha)/examples/pybullet/utils/models/vx300/dual_vx300s.urdf.xacro"/>

  <param name="robot_description" command="xacro $(arg model)" />

  <node if="$(arg use_joint_pub)"
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher">
    <param name="rate" value="$(arg rate)"/>
    <rosparam param="source_list" subst_value="True">$(arg source_list)</rosparam>
  </node>

  <node if="$(arg use_joint_pub_gui)"
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui">
  </node>

  <node 
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher">
  </node>

  <node if="$(arg use_rviz)"
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(arg rvizconfig)"/>

</launch>
